.DS_Store
__pycache__/
*.pyc

.venv/
.mplconfig/
.swift-module-cache/

CarCrashDataset/
ablation experiments/

data/raw/
data/depth/
data/processed/depth_features/
data/processed/frame_metadata.csv
data/processed/depth_metadata.csv
data/processed/depth_features_metadata.csv
